:root {
  --global-scale: 1;
  --container-width: 100%;
  --container-padding: 12px;
  --container-content: calc(var(--container-width) - (var(--container-padding) * 2));

  @media (--min-md) {
    --global-scale: calc(768 / 1792);
    --container-width: 768px;
    --container-padding: 16px;
  }

  @media (--min-lg) {
    --global-scale: calc(1024 / 1792);
    --container-width: 1024px;
    --container-padding: 16px;
  }

  @media (--min-xl) {
    --global-scale: calc(1280 / 1792);
    --container-width: 1280px;
    --container-padding: 24px;
  }

  @media (--min-2xl) {
    --global-scale: calc(1536 / 1792);
    --container-width: 1536px;
    --container-padding: 32px;
  }

  @media (--min-3xl) {
    --global-scale: calc(1792 / 1792);
    --container-width: 1792px;
    --container-padding: 32px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  font-size: 16px;
  background: #fff;
}

.hidden {
  display: none;
}

/* .btn-primary {
  border-radius: 24px;
  background: #ffec00;
  height: 64px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.075em;
  border: none;
  line-height: 1;
}

.btn-primary:hover {
  background: #fdf87c;
} */

.btn-more {
  display: inline-flex;
  text-decoration: none;
  border: none;
  background: transparent;
  padding: 0;
}

.btn-more__inner {
  padding: 0 32px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  border-radius: 24px;
  transition: 0.3s ease;
  gap: 4px;
}

.btn-more__text {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1;
}

.btn-more__icon {
  transition: 0.3s ease;
  font-size: 20px;
  color: #7a7a7a;
}

.btn-more:hover .btn-more__inner {
  background: #dedede;
  transform: translateX(5px);
}

.btn-more:hover .btn-more__icon {
  transform: translateX(3px);
  color: #2c2c2c;
}

.breadcrumbs {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 36px 0;
  list-style: none;

  @media (--max-md) {
    font-size: 11px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.breadcrumbs__link {
  color: #bfbfbf;
  text-decoration: none;
}

.breadcrumbs__link:hover {
  color: #6e6e6e;
}

.breadcrumbs__text {
  color: #6e6e6e;
}

.breadcrumbs__item {
  margin-right: 1.5em;
}

.breadcrumbs__item + .breadcrumbs__item {
  padding-left: 1.5em;
  position: relative;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: '';
  display: block;
  width: 1px;
  height: 1.2em;
  background: #6e6e6e;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.page-title {
  margin: 96px 0;
  font-size: 60px;
  line-height: 1;
  color: #000000;
  text-align: center;
  font-weight: 500;
  position: relative;
  z-index: 50;
  letter-spacing: 0.075em;

  @media (--max-xl) {
    font-size: 56px;
  }

  @media (--max-lg) {
    font-size: 48px;
    margin: 64px 0;
  }

  @media (--max-md) {
    font-size: 36px;
    margin: 36px 0;
  }
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
}

.page-layout__body {
  flex-grow: 1;
  overflow: hidden;
}

.page-content {
  font-size: 20px;
  line-height: 1.25;
  margin: 96px auto;
  max-width: 1232px;

  @media (--max-lg) {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  @media (--max-md) {
    font-size: 18px;
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.page-content .activity,
.page-content .coaches,
.page-content .teaser-block,
.page-content .content-block,
.page-content .about-info,
.page-content .directions-descriptions,
.page-content .directions-sections,
.page-content .schedule-block,
.page-content .prices {
  @media (--min-2xl) {
    margin-left: calc((var(--container-width) - (var(--container-padding) * 2) - 1232px) / 2 * -1);
    margin-right: calc((var(--container-width) - (var(--container-padding) * 2) - 1232px) / 2 * -1);
  }
}

.page-content a {
  color: inherit;
}

.page-content p {
  margin: 0;
}

.page-content * + p {
  margin-top: 1.5em;
}

.page-content ul {
  margin: 0;
}

.page-content * + ul {
  margin-top: 1.5em;
}

.page-content h2 {
  margin: 0;
  font-weight: 500;
}

.page-content * + h2 {
  margin-top: 1.5em;
}

.page-content h3 {
  margin: 0;
  font-weight: 500;
}

.page-content * + h3 {
  margin-top: 1.5em;
}

.page-content .wp-block-quote {
  margin: 0;
}

.page-content * + .wp-block-quote {
  margin-top: 1.5em;
}

.page-content .wp-block-slideshow {
  margin: 0;
}

.page-content * + .wp-block-slideshow {
  margin-top: 1.5em;
}

.page-content .wp-block-image {
  margin: 0;
}

.page-content * + .wp-block-image {
  margin-top: 1.5em;
}

.page-content .wp-block-columns {
  margin: 0;
}

.page-content * + .wp-block-columns {
  margin-top: 1.5em;
}

.page-content .wp-block-gallery {
  margin: 0;
}

.page-content * + .wp-block-gallery {
  margin-top: 1.5em;
}

.page-content .wp-block-buttons {
  margin: 0;
}

.page-content * + .wp-block-buttons {
  margin-top: 1.5em;
}

.input-field {
  position: relative;
  z-index: 1;
  display: block;
}

.input-field__label {
  font-size: 12px;
  line-height: 1;
  color: #949494;
  position: absolute;
  left: 12px;
  top: 10px;
  pointer-events: none;
  z-index: 2;
}

.input-field__input {
  padding: 20px 12px 0;
  font-size: 20px;
  color: #000;
  line-height: 1;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  height: 52px;
  display: block;
  width: 100%;
  border: none;
  position: relative;
  z-index: 1;
}

.modal .input-field__input {
  background: #f5f5f5;
  border: 1px solid #ddd;
}

.input-field__textarea {
  padding: 24px 12px 8px;
  font-size: 20px;
  color: #000;
  line-height: 1;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  display: block;
  width: 100%;
  border: none;
}

.container {
  max-width: 100%;
  width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  border-radius: 24px;
  background: #ffec00;
  height: 72px;
  font-size: 22px;
  color: #000;
  padding: 0 36px;
  letter-spacing: 0.025em;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: #fdf87c;
}

.prices {
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
  padding: 64px 32px;
  margin: 96px 0;

  @media (--max-md) {
    padding: 32px 24px;
    margin: 36px calc(var(--container-padding) * -1);
  }
}

.prices__order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  margin-bottom: calc((26px + 64px) * -1);

  @media (--max-md) {
    margin-bottom: 0;
  }
}

.prices-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  margin-top: calc((40px + 64px) * -1);

  @media (--max-2xl) {
    gap: 32px;
  }
  @media (--max-lg) {
    grid-template-columns: 1fr;
  }
  @media (--max-md) {
    margin-top: 0;
  }
}

.prices-item {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(233, 233, 233);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 32px 64px;

  @media (--max-xl) {
    padding: 48px 24px;
  }
}

.prices-item__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.prices-item__price-val {
  font-size: 48px;
  color: rgb(115, 120, 130);
  line-height: 1;
  letter-spacing: 0.01em;
}

.prices-item__price-cur {
  font-size: 36px;
  color: rgb(115, 120, 130);
  line-height: 1;
  font-weight: 500;
  position: relative;
  top: -0.25em;
  letter-spacing: 0.01em;
}

.prices-item__name {
  font-size: 24px;
  color: rgb(201, 65, 60);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.075em;
}

.prices-item__title {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  margin-top: 32px;
  min-height: calc(1.2em * 2);
}

.prices-item__desc {
  font-size: 14px;
  color: rgb(118, 118, 118);
  line-height: 1.2;
  text-align: center;
  min-height: calc(1.2em * 2);
}

.prices-item__order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.schedule-block {
  margin: 96px 0;

  @media (--max-md) {
    margin: 36px 0;
  }
}

.schedule-block__caption {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: 0.075em;

  @media (--max-md) {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.schedule-block__order {
  display: flex;
  justify-content: center;
  margin-top: 96px;

  @media (--max-md) {
    margin-top: 36px;
  }
}

.schedule-table {
  @media (--min-lg) {
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    overflow: hidden;
  }
}

.schedule-header {
  display: grid;
  background: #c9413c;
  grid-template-columns: 12fr 10fr 10fr 10fr 10fr 10fr 10fr;
  margin: -1px -1px 0;
  min-height: 120px;

  @media (--max-2xl) {
    min-height: 100px;
  }
  @media (--max-lg) {
    display: none;
  }
}

.schedule-header__cell {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.075em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 16px;

  @media (--max-3xl) {
    font-size: 24px;
  }
  @media (--max-2xl) {
    font-size: 20px;
  }
  @media (--max-xl) {
    font-size: 18px;
  }
}

.schedule-header__cell::before {
  content: '';
  width: 1px;
  height: 28px;
  background: rgba(255, 255, 255, 0.341);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -14px;
}

.schedule-header__cell:nth-child(1):before,
.schedule-header__cell:nth-child(2):before {
  display: none;
}

.schedule-body {
}

.schedule-row {
  display: grid;
  grid-template-columns: 12fr 10fr 10fr 10fr 10fr 10fr 10fr;
  min-height: 120px;

  @media (--max-2xl) {
    min-height: 100px;
  }
  @media (--max-lg) {
    grid-template-columns: 1fr;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    overflow: hidden;
  }
}

.schedule-row:hover {
  @media (--min-lg) {
    background: #f7f7f7;
  }
}

.schedule-row + .schedule-row {
  @media (--min-lg) {
    border-top: 1px solid #e9e9e9;
  }
  @media (--max-lg) {
    margin-top: 24px;
  }
}

.schedule-row__time {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.025em;
  text-align: center;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--max-3xl) {
    font-size: 24px;
  }
  @media (--max-2xl) {
    font-size: 20px;
  }
  @media (--max-xl) {
    font-size: 18px;
  }
  @media (--max-lg) {
    min-height: 48px;
    background: #c9413c;
    color: #fff;
  }
}

.schedule-row__cell {
  font-size: 28px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--max-3xl) {
    font-size: 24px;
  }
  @media (--max-2xl) {
    font-size: 20px;
  }
  @media (--max-xl) {
    font-size: 18px;
  }
  @media (--max-lg) {
    min-height: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

.schedule-row__cell + .schedule-row__cell {
  @media (--max-lg) {
    border-top: 1px solid #e9e9e9;
  }
}

.schedule-row__cell::before {
  content: attr(data-title) ': ';
  display: block;
  width: 50%;
  font-weight: 500;

  @media (--min-lg) {
    display: none;
  }
}

.elidehcs-table {
  display: grid;
  grid-template-columns: 12fr 10fr 10fr 10fr 10fr 10fr 10fr;

  @media (--min-lg) {
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    overflow: hidden;
  }
  @media (--max-lg) {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.elidehcs-table__column--time {
  @media (--max-lg) {
    display: none;
  }
}

.elidehcs-table__column {
  @media (--max-lg) {
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    overflow: hidden;
  }
}

.elidehcs-table__th {
  background: #c9413c;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.075em;
  padding: 0 16px;

  @media (--max-2xl) {
    font-size: 20px;
    min-height: 100px;
  }
  @media (--max-xl) {
    font-size: 18px;
  }
  @media (--max-lg) {
    min-height: 48px;
    font-size: 16px;
  }
}

.elidehcs-table__td {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #000;
  line-height: 1.2;
  min-height: 120px;
  border-top: 1px solid #e9e9e9;
  padding: 0 16px;

  @media (--max-2xl) {
    font-size: 20px;
    min-height: 100px;
  }
  @media (--max-xl) {
    font-size: 18px;
  }
  @media (--max-lg) {
    min-height: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    font-size: 16px;
  }
}

.elidehcs-table__td::before {
  content: attr(data-time) ': ';
  display: block;
  font-weight: 500;

  @media (--min-lg) {
    display: none;
  }
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 144px;
  margin: 96px auto;
  max-width: 1232px;

  @media (--max-lg) {
    gap: 96px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
  @media (--max-md) {
    gap: 48px;
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.news-list__item {
}

.news-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 64px;
  position: relative;

  @media (--max-lg) {
    gap: 32px;
    grid-template-columns: 1fr;
  }
}

.news-card:nth-child(2n) .news-card__figure {
  order: 10;
}

.news-card__figure {
  display: flex;
  margin: 0;
  padding: 0;
  order: 30;

  @media (--max-lg) {
    order: 10;
  }
}

.news-card__figure img {
  border-radius: 24px;
  width: 100%;
  height: auto;
}

.news-card__body {
  order: 20;
}

.news-card__date {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1;
  margin-bottom: 8px;

  @media (--max-md) {
    font-size: 14px;
  }
}

.news-card__title {
  font-size: 48px;
  color: rgb(24, 24, 26);
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.075em;

  @media (--max-lg) {
    font-size: 40px;
  }

  @media (--max-md) {
    font-size: 32px;
  }
}

.news-card__excerpt {
  margin-top: 32px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.25;

  @media (--max-md) {
    font-size: 18px;
    margin-top: 24px;
  }
}

.news-card__more {
  margin-top: 56px;

  @media (--max-xl) {
    margin-top: 36px;
  }

  @media (--max-lg) {
    margin-top: 32px;
  }

  @media (--max-md) {
    margin-top: 24px;
  }
}

.news-card__more .btn-more::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.pagination {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.page-numbers {
  min-width: 72px;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(116, 116, 116);
  line-height: 1;
  border-radius: 50%;

  @media (--max-lg) {
    min-width: 48px;
    min-height: 48px;
    font-size: 16px;
  }
}

a.page-numbers {
  text-decoration: none;
}

a.page-numbers:hover {
  background: #f5f5f5;
}

span.page-numbers {
  font-size: 48px;
  color: #000;

  @media (--max-lg) {
    font-size: 36px;
  }
}

.prev.page-numbers {
  background: #e8e8e8;
  font-size: 36px;
  color: #828283;

  @media (--max-lg) {
    font-size: 24px;
  }
}

.prev.page-numbers:hover {
  background: #bfbfc0;
  color: #000;
}

.next.page-numbers {
  background: #e8e8e8;
  font-size: 36px;
  color: #828283;

  @media (--max-lg) {
    font-size: 24px;
  }
}

.next.page-numbers:hover {
  background: #bfbfc0;
  color: #000;
}

.news-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 64px;
  position: relative;
  margin: 64px auto;
  max-width: 1232px;

  @media (--max-lg) {
    gap: 32px;
    grid-template-columns: 1fr;
  }
  @media (--max-md) {
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.news-header__figure {
  display: flex;
  margin: 0;
  padding: 0;
}

.news-header__figure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 24px;
}

.news-header__body {
}

.news-header__neighbors {
  display: flex;
  gap: 24px;
  margin-bottom: 36px;

  @media (--max-2xl) {
    display: none;
  }
}

.news-header__neighbor {
  width: 72px;
  height: 72px;
  font-size: 36px;
  border-radius: 50%;
  background: #e8e8e8;
  color: #828283;
  display: flex;
  align-items: center;
  justify-content: center;

  /* @media (--max-md) {
    width: 48px;
    height: 48px;
    font-size: 24px;
  } */
}

a.news-header__neighbor:hover {
  background: #e8e8e8;
  color: #000;
}

.news-header__date {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1;
  margin-bottom: 8px;

  @media (--max-md) {
    font-size: 14px;
  }
}

.news-header__title {
  font-size: 48px;
  color: rgb(24, 24, 26);
  line-height: 1;
  margin: 0;
  letter-spacing: 0.075em;
  font-weight: 500;

  @media (--max-lg) {
    font-size: 40px;
  }

  @media (--max-md) {
    font-size: 32px;
  }
}

.news-header__excerpt {
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.25;
  margin-top: 32px;

  @media (--max-md) {
    font-size: 18px;
    margin-top: 24px;
  }
}

.news-header__excerpt p {
  margin: 0;
}

.news-header__excerpt * + p {
  margin-top: 1.2em;
}

.news-footer {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e7e5e4;
  border-bottom: 1px solid #e7e5e4;
  margin: 96px 0;

  @media (--max-lg) {
    margin: 64px 0;
  }

  @media (--max-md) {
    margin: 36px 0;
    flex-direction: column;
  }
}

.news-footer__neighbors {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.activity {
  margin: 116px 0;

  @media (--max-lg) {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  @media (--max-md) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.activity-tabs {
}

.activity-tabs__nav {
  display: flex;
  gap: 144px;
  align-items: center;
  margin-bottom: 48px;

  @media (--max-2xl) {
    gap: 116px;
  }
  @media (--max-lg) {
    gap: 64px;
    margin-bottom: 32px;
  }
  @media (--max-md) {
    gap: 32px;
    column-gap: 32px;
    row-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.activity-tabs__label::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #868686;
  position: absolute;
  left: -72px;
  top: 50%;
  transform: translateY(-50%);

  @media (--max-2xl) {
    left: -58px;
  }
  @media (--max-lg) {
    left: -32px;
  }
  @media (--max-md) {
    display: none;
  }
}

.activity-tabs__label:first-child::before {
  display: none;
}

.activity-tabs__label {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
  position: relative;
  font-size: 52px;
  letter-spacing: 0.075em;
  line-height: 1;
  color: #868686;

  @media (--max-2xl) {
    font-size: 48px;
  }
  @media (--max-lg) {
    font-size: 36px;
  }
  @media (--max-md) {
    font-size: 32px;
    letter-spacing: 0.025em;
  }
}

.activity-tabs__label:hover {
  color: #000;
}

.activity-tabs__label input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.activity-tabs__label:has(input:checked) {
  color: #000;
  border-bottom-color: #000;
}

.activity-tabs__panel {
  display: none;
  animation: fadeIn 0.3s ease;
}

.activity-tabs:has(.activity-tabs__label:nth-child(1) input:checked)
  .activity-tabs__panel:nth-child(1),
.activity-tabs:has(.activity-tabs__label:nth-child(2) input:checked)
  .activity-tabs__panel:nth-child(2),
.activity-tabs:has(.activity-tabs__label:nth-child(3) input:checked)
  .activity-tabs__panel:nth-child(3),
.activity-tabs:has(.activity-tabs__label:nth-child(4) input:checked)
  .activity-tabs__panel:nth-child(4),
.activity-tabs:has(.activity-tabs__label:nth-child(5) input:checked)
  .activity-tabs__panel:nth-child(5) {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.activity-embla {
  --slide-spacing: 30px;
  position: relative;
}

.activity-embla__viewport {
  /* overflow: hidden; */
}

.activity-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.activity-embla__slide {
  flex: 0 0 calc(100% / 3);
  transform: translateZ(0);
  min-width: 0;
  padding-left: var(--slide-spacing);
  aspect-ratio: 8 / 6;

  @media (--max-xl) {
    flex: 0 0 calc(100% / 2);
  }
  @media (--max-md) {
    flex: 0 0 calc(100% / 1);
  }
}

.activity-card {
  display: grid;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}

.activity-card:hover .activity-card__body {
  background: rgba(0, 0, 0, 0.3);
}

.activity-card:hover .activity-card__content {
}

.activity-card__figure {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
  display: flex;
}

.activity-card__figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-card__body {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.activity-card__content {
  padding: 20px 40px;
  width: 100%;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom,
    transparent 0,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0.4) 100%
  );

  @media (--max-2xl) {
    padding: 20px;
  }
}

.activity-card__photos {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  padding: 36px 16px;
  justify-content: flex-end;
  align-items: flex-start;

  @media (--max-xl) {
    padding: 16px;
  }
}

.activity-card__maximize {
  width: 74px;
  height: 74px;
  display: grid;

  @media (--max-2xl) {
    width: 56px;
    height: 56px;
  }
}

.activity-card__maximize::before {
  content: '';
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 36px;
  transition: 0.3s ease;
  background-color: rgba(28, 28, 30, 0.6);
}

.activity-card__maximize .icon {
  color: #fff;
  font-size: 32px;
  transition: 0.3s ease;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

.activity-card__maximize:hover::before {
  transform: scale(1.05);
  background-color: rgba(28, 28, 30, 0.8);
}

.activity-card__maximize:hover .icon {
  transform: scale(1.15);
}

.activity-card__maximize::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.activity-card__maximize ~ .activity-card__maximize {
  display: none;
}

a.activity-card__title,
.activity-card__title {
  font-size: 28px;
  line-height: 1.2;
  display: block;
  text-decoration: none;
  font-weight: 600;
  color: #fff;

  @media (--max-2xl) {
    font-size: 24px;
  }
}

a.activity-card__title::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.activity-card__date {
  font-size: 20px;
  line-height: 1;
  color: #fff;
  margin-top: 8px;

  @media (--max-2xl) {
    font-size: 18px;
  }
}

.activity-embla__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 48px;

  @media (--max-lg) {
    margin-top: 32px;
  }
}

.activity-embla__controls {
  display: flex;
  gap: 24px;
  width: min-content;

  @media (--max-lg) {
    gap: 16px;
  }
}

.activity-embla__controls:has(
  .activity-embla__control:disabled + .activity-embla__control:disabled
) {
  display: none;
}

.activity-embla__control {
  border-radius: 36px;
  background-color: rgba(28, 28, 30, 0.102);
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828283;
  font-size: 24px;
  border: none;
  padding: 0;
  cursor: pointer;

  @media (--max-md) {
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
}

.activity-embla__control:hover {
  color: #1c1c1e;
  background: #e8e8e8;
}

.activity-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 96px 0;

  @media (--max-xl) {
    grid-template-columns: 1fr 1fr;
  }
  @media (--max-lg) {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  @media (--max-md) {
    grid-template-columns: 1fr;
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.activity-grid__item {
  aspect-ratio: 8 / 6;
}

.directions-sections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 64px;
}

.directions-sections::before {
  content: '';
  display: block;
}

.directions-sections::after {
  content: '';
  display: block;
}

.directions-section {
  width: 260px;
  position: relative;

  @media (--max-md) {
    width: 144px;
  }
}

.directions-section__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  background: #f6f6f6;
}

.directions-section__image img {
  max-width: 100%;
  height: auto;
}

.directions-section__title {
  text-align: center;
  margin-top: 48px;
  font-size: 22px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  display: block;
  text-decoration: none;

  @media (--max-md) {
    font-size: 18px;
    margin-top: 24px;
  }
}

.directions-section__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.directions-descriptions {
  position: relative;
  z-index: 1;
  padding: 96px 0 54px 116px;
  margin-top: 64px;
  margin-bottom: 64px;

  @media (--max-2xl) {
    padding-top: 64px;
    padding-left: 96px;
  }
  @media (--max-xl) {
    padding-right: 96px;
  }
  @media (--max-lg) {
    padding: 48px 64px;
  }
  @media (--max-md) {
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
    padding: calc(var(--container-padding) * 2);
  }
}

.directions-descriptions__bg {
  background-color: #c9413c;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% / 6);

  @media (--max-xl) {
    right: 0;
  }
}

.directions-descriptions__bg::before {
  content: '';
  background: url('../images/directions-content.png') no-repeat calc(100% + 18px) -18px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0.25;
  mix-blend-mode: screen;
}

.directions-descriptions__button {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  @media (--max-lg) {
    margin-top: 24px;
  }
}

.directions-descriptions__layout {
  display: grid;
  gap: 116px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media (--max-2xl) {
    gap: 64px;
  }
  @media (--max-xl) {
    grid-template-columns: 1fr;
  }
  @media (--max-lg) {
    gap: 48px;
  }
  @media (--max-md) {
    gap: 24px;
  }
}

.directions-descriptions__left {
}

.directions-descriptions__right {
  border-radius: 30px;
  background-color: rgb(158, 156, 156);
  padding: 80px 96px;

  @media (--max-2xl) {
    padding: 64px 80px;
  }
  @media (--max-lg) {
    padding: 48px 64px;
  }
  @media (--max-md) {
    padding: calc(var(--container-padding) * 2);
  }
}

.directions-descriptions__title {
  font-size: 42px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.143;
  margin-bottom: 40px;

  @media (--max-2xl) {
    margin-bottom: 32px;
    font-size: 40px;
  }
  @media (--max-md) {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

.directions-descriptions__title::after {
  content: '';
  width: 6px;
  height: 6px;
  background: currentColor;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0 24px;

  @media (--max-md) {
    display: none;
  }
}

.directions-descriptions__content {
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.2;

  @media (--max-md) {
    font-size: 20px;
  }
}

.directions-descriptions__content em {
  font-style: normal;
  background: #014377;
  padding-left: 4px;
  padding-right: 4px;
}

.about-info {
  margin-top: 96px;
  margin-bottom: 96px;

  @media (--max-2xl) {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  @media (--max-lg) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.about-info__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (--max-xl) {
    grid-template-columns: 1fr;
  }
}

.about-info__left {
  grid-column: 1 / 2;
  min-width: 0;

  @media (--max-xl) {
    grid-column: 1 / 2;
  }
}

.about-info__right {
  grid-column: 2 / 3;
  min-width: 0;

  @media (--max-xl) {
    grid-column: 1 / 2;
  }
}

.about-registration {
  border-radius: 30px;
  background-color: rgba(246, 246, 246, 0.788);
  padding: 96px 116px;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (--max-3xl) {
    padding: 64px 80px;
  }
  @media (--max-2xl) {
    padding: 48px 64px;
  }
  @media (--max-md) {
    padding: 32px;
  }
}

.about-registration__title {
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0.075em;
  font-weight: 500;
  margin: 0 0 64px;

  @media (--max-2xl) {
    font-size: 40px;
    margin-bottom: 48px;
  }
  @media (--max-md) {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.about-registration__rows {
  counter-reset: num;
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin: 0 0 64px;

  @media (--max-2xl) {
    gap: 40px;
    margin-bottom: 48px;
  }
  @media (--max-md) {
    gap: 32px;
    margin-bottom: 32px;
  }
}

.about-registration__row {
  counter-increment: num;
  position: relative;
  padding-left: 40px;
  font-size: 26px;
  color: rgb(0, 0, 0);
  line-height: 1.2;

  @media (--max-2xl) {
    font-size: 24px;
  }
  @media (--max-md) {
    font-size: 20px;
    padding-left: 32px;
  }
}

.about-registration__row::before {
  content: counter(num) '.';
  position: absolute;
  left: 0;
  top: 0;
}

.about-registration__button {
  margin-top: auto;
}

.about-faq {
  padding: 96px 116px;

  @media (--max-3xl) {
    padding: 64px 80px;
  }
  @media (--max-2xl) {
    padding: 48px 64px;
  }
  @media (--max-md) {
    padding: 32px;
  }
}

.about-faq__title {
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0.075em;
  font-weight: 500;
  margin: 0 0 64px;

  @media (--max-2xl) {
    font-size: 40px;
    margin-bottom: 48px;
  }
  @media (--max-md) {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.about-faq__rows {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @media (--max-2xl) {
    gap: 40px;
  }
  @media (--max-md) {
    gap: 32px;
  }
}

.about-faq__accordion {
  position: relative;
  padding-left: 48px;

  @media (--max-md) {
    padding-left: 32px;
  }
}

.about-faq__accordion::before {
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  background: #000;
  left: 2px;
  top: 12px;

  @media (--max-md) {
    height: 4px;
    width: 20px;
    top: 10px;
  }
}

.about-faq__accordion::after {
  content: '';
  width: 5px;
  height: 25px;
  position: absolute;
  background: #000;
  left: 12px;
  top: 2px;

  @media (--max-md) {
    width: 4px;
    height: 20px;
    left: 10px;
  }
}

.about-faq__accordion[open]::after {
  display: none;
}

.about-faq__question {
  font-size: 26px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  list-style: none;

  @media (--max-2xl) {
    font-size: 24px;
  }
  @media (--max-md) {
    font-size: 20px;
  }
}

.about-faq__answer {
  font-size: 18px;
  color: rgb(97, 97, 97);
  line-height: 1.2;
  margin-top: 12px;

  @media (--max-md) {
    font-size: 16px;
  }
}

.content-block {
  margin-top: 96px;
  margin-bottom: 96px;

  @media (--max-2xl) {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  @media (--max-lg) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.content-block__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 116px;
  align-items: center;

  @media (--max-2xl) {
    gap: 80px;
  }
  @media (--max-xl) {
    grid-template-columns: 1fr;
  }
  @media (--max-lg) {
    gap: 64px;
  }

  @media (--max-md) {
    gap: 48px;
  }
}

.content-block__left {
  grid-column: 1 / 2;
  min-width: 0;

  @media (--max-xl) {
    grid-column: 1 / 2;
  }
}

.content-block__right {
  grid-column: 2 / 3;
  min-width: 0;

  @media (--max-xl) {
    grid-column: 1 / 2;
  }
  @media (--max-md) {
    order: -1;
  }
}

.content-block__title {
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0.075em;
  font-weight: 500;
  margin: 0 0 64px;

  @media (--max-xl) {
    font-size: 56px;
  }
  @media (--max-lg) {
    margin-bottom: 48px;
    font-size: 48px;
  }
  @media (--max-md) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.content-block__text {
  font-size: 24px;

  @media (--max-md) {
    font-size: 20px;
  }
}

.content-block__text p {
  margin: 0;
}

.content-block__text * + p {
  margin-top: 1.2em;
}

.content-block__photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (--max-md) {
    gap: var(--container-padding);
  }
}

.content-block__photo {
  display: flex;
}

.content-block__photo img {
  border-radius: 30px;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.coaches {
  margin-top: 96px;
  margin-bottom: 96px;

  @media (--max-2xl) {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  @media (--max-lg) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.coaches__main {
  padding: 64px 116px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #cbdff0 0%, #eaf2f9 100%);
  position: relative;
  z-index: 1;

  @media (--max-2xl) {
    padding: 56px 96px;
  }
  @media (--max-xl) {
    padding: 48px 64px;
  }
  @media (--max-md) {
    border-radius: 0;
    padding: calc(2 * var(--container-padding)) var(--container-padding);
    margin-left: calc(-1 * var(--container-padding));
    margin-right: calc(-1 * var(--container-padding));
  }
}

.coaches__main::before {
  content: '';
  display: block;
  position: absolute;
  background: url('../images/р.png') no-repeat;
  background-size: cover;
  width: 567px;
  height: 695px;
  opacity: 0.08;
  right: -96px;
  top: -64px;
  z-index: -1;
  zoom: var(--global-scale, 1);

  @media (--max-md) {
    display: none;
  }
}

.coaches__title {
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0.075em;
  font-weight: 500;
  margin: 0 0 24px;

  @media (--max-xl) {
    font-size: 56px;
  }
  @media (--max-lg) {
    font-size: 48px;
  }
  @media (--max-md) {
    font-size: 40px;
  }
}

.coaches__desc {
  font-size: 24px;

  @media (--max-lg) {
    font-size: 20px;
  }
}

.coaches__list {
  margin-top: 96px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(5, minmax(180px, 220px));
  justify-content: space-between;

  @media (--max-2xl) {
    margin-top: 64px;
  }
  @media (--max-xl) {
    margin-top: 48px;
    grid-template-columns: repeat(3, minmax(160px, 220px));
  }
  @media (--max-md) {
    justify-content: space-around;
    margin-top: calc(2 * var(--container-padding));
    column-gap: var(--container-padding);
    grid-template-columns: repeat(2, minmax(160px, 220px));
  }
}

.coaches-item {
}

.coaches-item__photo {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 24px;

  @media (--max-lg) {
    margin-bottom: 16px;
  }
}

.coaches-item__photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.coaches-item__name {
  text-align: center;
  font-size: 24px;

  @media (--max-lg) {
    font-size: 20px;
  }
}

.coaches-item__desc {
  text-align: center;
  color: #848484;
  font-size: 16px;
  margin-top: 12px;

  @media (--max-lg) {
    font-size: 14px;
    margin-top: 8px;
  }
}

.teaser-block {
  margin-top: 96px;
  margin-bottom: 96px;

  @media (--max-lg) {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  @media (--max-md) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.teaser-block__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 116px;
  align-items: center;

  @media (--max-2xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
  @media (--max-xl) {
    grid-template-columns: 1fr;
  }
  @media (--max-lg) {
    gap: 64px;
  }

  @media (--max-md) {
    gap: 48px;
  }
}

.teaser-block__content {
  grid-column: 1 / 2;
  min-width: 0;

  @media (--max-2xl) {
    grid-column: 1 / 3;
  }
  @media (--max-xl) {
    grid-column: 1 / 2;
  }
}

.teaser-block__title {
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0.075em;
  font-weight: 500;
  margin: 0 0 64px;

  @media (--max-xl) {
    font-size: 56px;
  }
  @media (--max-lg) {
    margin-bottom: 48px;
    font-size: 48px;
  }
  @media (--max-md) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.teaser-block__desc {
  font-size: 24px;

  @media (--max-md) {
    font-size: 20px;
  }
}

.teaser-block__desc p {
  margin: 0;
}

.teaser-block__desc * + p {
  margin-top: 1.2em;
}

.teaser-block__more {
  margin-top: 40px;

  @media (--max-md) {
    margin-top: 32px;
  }
}

.teaser-block__photo {
  grid-column: 2 / 4;
  min-width: 0;
  display: flex;
  margin: 0;

  @media (--max-2xl) {
    grid-column: 3 / 6;
  }
  @media (--max-xl) {
    grid-column: 1 / 2;
  }
  @media (--max-md) {
    order: -1;
  }
}

.teaser-block__photo img {
  border-radius: 30px;
  display: block;
  width: 100%;
  height: auto;
}
