:root {
  --container-width: 100%;
  --container-padding: 12px;
  --container-content: calc(var(--container-width) - (var(--container-padding) * 2));

  @media (--min-md) {
    --container-width: 768px;
    --container-padding: 16px;
  }

  @media (--min-lg) {
    --container-width: 1024px;
    --container-padding: 16px;
  }

  @media (--min-xl) {
    --container-width: 1280px;
    --container-padding: 24px;
  }

  @media (--min-2xl) {
    --container-width: 1536px;
    --container-padding: 32px;
  }

  @media (--min-3xl) {
    --container-width: 1792px;
    --container-padding: 32px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  font-size: 16px;
  background: #fff;
}

.hidden {
  display: none;
}

.btn-more {
  display: inline-flex;
  text-decoration: none;
  border: none;
  background: transparent;
  padding: 0;
}

.btn-more__inner {
  padding: 0 32px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  border-radius: 24px;
  transition: 0.3s ease;
  gap: 4px;
}

.btn-more__text {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1;
}

.btn-more__icon {
  transition: 0.3s ease;
  font-size: 20px;
  color: #7a7a7a;
}

.btn-more:hover .btn-more__inner {
  background: #dedede;
  transform: translateX(5px);
}

.btn-more:hover .btn-more__icon {
  transform: translateX(3px);
  color: #2c2c2c;
}

.breadcrumbs {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 36px 0;
  list-style: none;

  @media (--max-md) {
    font-size: 11px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.breadcrumbs__link {
  color: #bfbfbf;
  text-decoration: none;
}

.breadcrumbs__link:hover {
  color: #6e6e6e;
}

.breadcrumbs__text {
  color: #6e6e6e;
}

.breadcrumbs__item {
  margin-right: 1.5em;
}

.breadcrumbs__item + .breadcrumbs__item {
  padding-left: 1.5em;
  position: relative;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: '';
  display: block;
  width: 1px;
  height: 1.2em;
  background: #6e6e6e;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.page-title {
  margin: 96px 0;
  font-size: 60px;
  line-height: 1;
  color: #000000;
  text-align: center;
  font-weight: 500;
  position: relative;
  z-index: 50;

  @media (--max-lg) {
    margin: 64px 0;
  }

  @media (--max-md) {
    font-size: 36px;
    margin: 36px 0;
  }
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
}

.page-layout__body {
  flex-grow: 1;
}

.page-content {
  font-size: 20px;
  line-height: 1.2;
  margin: 96px 0;

  @media (--max-lg) {
    font-size: 18px;
    margin: 64px 0;
  }

  @media (--max-md) {
    font-size: 16px;
    margin: 36px 0;
  }
}

.page-content a {
  color: inherit;
}

.page-content p {
  margin: 0;
}

.page-content * + p {
  margin-top: 1.5em;
}

.page-content ul {
  margin: 0;
}

.page-content * + ul {
  margin-top: 1.5em;
}

.page-content h2 {
  margin: 0;
  font-weight: 500;
}

.page-content * + h2 {
  margin-top: 1.5em;
}

.page-content h3 {
  margin: 0;
  font-weight: 500;
}

.page-content * + h3 {
  margin-top: 1.5em;
}

.page-content .wp-block-quote {
  margin: 0;
}

.page-content * + .wp-block-quote {
  margin-top: 1.5em;
}

.page-content .wp-block-slideshow {
  margin: 0;
}

.page-content * + .wp-block-slideshow {
  margin-top: 1.5em;
}

.page-content .wp-block-image {
  margin: 0;
}

.page-content * + .wp-block-image {
  margin-top: 1.5em;
}

.page-content .wp-block-columns {
  margin: 0;
}

.page-content * + .wp-block-columns {
  margin-top: 1.5em;
}

.page-content .wp-block-gallery {
  margin: 0;
}

.page-content * + .wp-block-gallery {
  margin-top: 1.5em;
}

.page-content .wp-block-buttons {
  margin: 0;
}

.page-content * + .wp-block-buttons {
  margin-top: 1.5em;
}

.input-field {
  position: relative;
  z-index: 1;
  display: block;
}

.input-field__label {
  font-size: 12px;
  line-height: 1;
  color: #949494;
  position: absolute;
  left: 12px;
  top: 10px;
  pointer-events: none;
  z-index: 2;
}

.input-field__input {
  padding: 20px 12px 0;
  font-size: 20px;
  color: #000;
  line-height: 1;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  height: 52px;
  display: block;
  width: 100%;
  border: none;
  position: relative;
  z-index: 1;
}

.modal .input-field__input {
  background: #f5f5f5;
  border: 1px solid #ddd;
}

.input-field__textarea {
  padding: 24px 12px 8px;
  font-size: 20px;
  color: #000;
  line-height: 1;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  display: block;
  width: 100%;
  border: none;
}

.container {
  max-width: 100%;
  width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  border-radius: 24px;
  background: #ffec00;
  height: 72px;
  font-size: 22px;
  color: #000;
  padding: 0 36px;
  letter-spacing: 0.025em;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: #fdf87c;
}

.prices {
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
  padding: 64px 32px;
  margin: 96px 0;
}

.prices__order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  margin-bottom: calc((26px + 64px) * -1);
}

.prices-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  margin-top: calc((40px + 64px) * -1);
}

.prices-item {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(233, 233, 233);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 32px 64px;
}

.prices-item__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.prices-item__price-val {
  font-size: 48px;
  color: rgb(115, 120, 130);
  line-height: 1;
  letter-spacing: 0.01em;
}

.prices-item__price-cur {
  font-size: 36px;
  color: rgb(115, 120, 130);
  line-height: 1;
  font-weight: 500;
  position: relative;
  top: -0.25em;
  letter-spacing: 0.01em;
}

.prices-item__name {
  font-size: 24px;
  color: rgb(201, 65, 60);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.075em;
}

.prices-item__title {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  margin-top: 32px;
  min-height: calc(1.2em * 2);
}

.prices-item__desc {
  font-size: 14px;
  color: rgb(118, 118, 118);
  line-height: 1.2;
  text-align: center;
  min-height: calc(1.2em * 2);
}

.prices-item__order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
