.intro {
  background: #000000;
  margin-top: -104px;
  position: relative;
  z-index: 20;
  padding-top: 116px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 720px;
  padding-top: 96px;
  padding-bottom: 96px;
  z-index: 10;
}

.intro-content::before {
  content: '';
  position: absolute;
  border: 340px solid transparent;
  border-bottom: 580px solid #948f8e;
  border-top: none;
  opacity: 0.53;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  transform-origin: 50% 50%;
  margin: -48px 0 0 440px;
  z-index: -1;
}

.intro-content::after {
  content: '';
  position: absolute;
  border: 340px solid transparent;
  border-bottom: 580px solid #948f8e;
  border-top: none;
  opacity: 0.62;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(16deg);
  transform-origin: 50% 50%;
  margin: -65px 0 0 370px;
  z-index: -1;
}

.intro__bg-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.intro__bg-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.intro-content__title {
  font-size: 72px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.0125em;
}

.intro-content__desc {
  font-size: 22px;
  color: #fffc;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 64px;
  letter-spacing: 0.02em;
  min-height: calc(1.2em * 4);
}

.intro-content__slogan {
  font-size: 40px;
  color: #fffc;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 900;
  margin-top: 54px;
  margin-left: 64px;
  letter-spacing: 0.025em;
}

.intro-content__vartical {
  font-size: 52px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 900;
  writing-mode: sideways-lr;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  right: 136px;
  letter-spacing: 0.025em;
}

.intro__advantages {
  border-style: solid;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.671);
  position: absolute;
  width: 400px;
  bottom: -112px;
  left: 75%;
  transform: translate(-75%);
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 56px 24px;
}

.intro__advantage {
  font-weight: 700;
  color: #b4afb1;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  padding-left: 64px;
}

.intro__advantage::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 39px;
  height: 31px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39px' height='31px'%3E%3Cpath fill-rule='evenodd' fill='rgb(180, 175, 177)' d='M38.994,4.286 L12.613,31.004 L0.006,18.993 L4.427,14.713 L12.423,22.962 L34.572,0.004 L38.994,4.286 Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

.schedule {
  position: relative;
  z-index: 10;
  padding-top: 175px;
  padding-bottom: 215px;
  background: #525050;
}

.schedule::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(-180deg, #0f100f 0%, transparent 100%);
  mix-blend-mode: multiply;
}

.schedule-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-content__title {
  font-size: 100px;
  text-align: center;
  line-height: 0.95;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  color: #fff;
  transform: scaleY(2);
  font-weight: 700;
  padding: 0.95em 0;
}

.schedule-content__title::first-line {
  color: #ffec00;
}

.schedule-content__desc {
  margin-top: 48px;
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.333;
  letter-spacing: 0.025em;
  text-align: center;
  width: 980px;
  max-width: 100%;
  margin: 80px 0 44px;
}

.schedule-content__button {
  width: 280px;
  max-width: 100%;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  padding: 0 24px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0);
}

.schedule-content__button:hover {
  color: #000;
  background: #fff;
}

.schedule__star {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -112px;
  fill: #fff;
  opacity: 0.08;
  z-index: -1;
}

.schedule__triangle {
  position: absolute;
  left: -500px;
  bottom: -112px;
  fill: rgb(148, 143, 142);
  opacity: 0.2;
  z-index: -1;
}
