.intro {
  background: #000000;
  margin-top: -104px;
  position: relative;
  z-index: 20;
  padding-top: 116px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 720px;
  padding-top: 96px;
  padding-bottom: 96px;
  z-index: 10;
}

.intro-content::before {
  content: '';
  position: absolute;
  border: 340px solid transparent;
  border-bottom: 580px solid #948f8e;
  border-top: none;
  opacity: 0.53;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  transform-origin: 50% 50%;
  margin: -48px 0 0 440px;
  z-index: -1;
}

.intro-content::after {
  content: '';
  position: absolute;
  border: 340px solid transparent;
  border-bottom: 580px solid #948f8e;
  border-top: none;
  opacity: 0.62;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(16deg);
  transform-origin: 50% 50%;
  margin: -65px 0 0 370px;
  z-index: -1;
}

.intro__bg-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.intro__bg-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.intro-content__title {
  font-size: 72px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.0125em;
}

.intro-content__desc {
  font-size: 22px;
  color: #fffc;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 64px;
  letter-spacing: 0.02em;
  min-height: calc(1.2em * 4);
}

.intro-content__slogan {
  font-size: 40px;
  color: #fffc;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 900;
  margin-top: 54px;
  margin-left: 64px;
  letter-spacing: 0.025em;
}

.intro-content__vartical {
  font-size: 52px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 900;
  writing-mode: sideways-lr;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  right: 136px;
  letter-spacing: 0.025em;
}

.intro__advantages {
  border-style: solid;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.671);
  position: absolute;
  width: 400px;
  bottom: -112px;
  left: 75%;
  transform: translate(-75%);
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 56px 24px;
}

.intro__advantage {
  font-weight: 700;
  color: #b4afb1;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  padding-left: 64px;
}

.intro__advantage::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 39px;
  height: 31px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39px' height='31px'%3E%3Cpath fill-rule='evenodd' fill='rgb(180, 175, 177)' d='M38.994,4.286 L12.613,31.004 L0.006,18.993 L4.427,14.713 L12.423,22.962 L34.572,0.004 L38.994,4.286 Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

.schedule {
  position: relative;
  z-index: 10;
  padding-top: 175px;
  padding-bottom: 215px;
  background: #525050;
}

.schedule::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(-180deg, #0f100f 0%, transparent 100%);
  mix-blend-mode: multiply;
}

.schedule-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-content__title {
  font-size: 100px;
  text-align: center;
  line-height: 0.95;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  color: #fff;
  transform: scaleY(2);
  font-weight: 700;
  padding: 0.95em 0;
}

.schedule-content__title::first-line {
  color: #ffec00;
}

.schedule-content__desc {
  margin-top: 48px;
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.333;
  letter-spacing: 0.025em;
  text-align: center;
  width: 980px;
  max-width: 100%;
  margin: 80px 0 44px;
}

.schedule-content__button {
  width: 280px;
  max-width: 100%;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  padding: 0 24px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0);
}

.schedule-content__button:hover {
  color: #000;
  background: #fff;
}

.schedule__star {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -112px;
  fill: #fff;
  opacity: 0.08;
  z-index: -1;
}

.schedule__triangle {
  position: absolute;
  left: -500px;
  bottom: -112px;
  fill: rgb(148, 143, 142);
  opacity: 0.2;
  z-index: -1;
}

.directions {
  position: relative;
  z-index: 10;
  padding-top: 116px;
  padding-bottom: 116px;
}

.directions-content {
  background-color: rgb(201, 65, 60);
  margin-left: 80px;
  margin-right: calc(100% / 6);
  position: relative;
  z-index: 10;
  margin-top: calc((140px + 116px) * -1);
  margin-bottom: -270px;
  padding: 116px 116px calc(270px + 116px);
}

.directions-content::before {
  content: '';
  background: url('../images/directions-content.png') no-repeat calc(100% + 18px) -18px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0.25;
  mix-blend-mode: screen;
}

.directions-content__text {
  width: 500px;
  max-width: 100%;
  position: relative;
  z-index: 20;
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.2;

  p {
    margin: 0;
  }
  * + p {
    margin-top: 1.2em;
  }
}

.directions-content__text::after {
  content: '';
  position: absolute;
  top: -25px;
  right: -50px;
  width: 20px;
  height: 210px;
  border-right: 6px solid #fff;
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
}

.directions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  position: relative;
  z-index: 20;
}

.directions-grid__cell {
  min-width: 0;
}

.directions-grid__cell--form {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.directions-form {
  margin: 0 auto;
  border-radius: 30px;
  width: 410px;
  max-width: 100%;
  border-radius: 30px;
  background-color: rgb(158, 156, 156);
  position: relative;
  padding: 48px;
  min-height: 100%;
  margin-top: -200px;
}

.directions-form__title {
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  span {
    background: #014377;
    color: #fff;
  }
}

.directions-form__controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.directions-form__phone {
  display: flex;
  position: relative;
  width: 100%;
}

.directions-form__phone-label {
  pointer-events: none;
  user-select: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 4px;
}

.directions-form__phone-input {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 64px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 1;
  padding-top: 18px;
  text-align: center;

  width: 100%;
  &::placeholder {
    color: rgba(255, 255, 255, 0.702);
  }
}

.directions-form__submit {
  border-radius: 24px;
  background: rgb(255, 236, 0);
  height: 64px;
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.directions-form__submit:hover {
  background: #fdf87c;
}

.directions-form__rules {
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  margin-top: 24px;
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.directions-form-errors {
  display: flex;
  position: absolute;
  inset: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(158, 156, 156, 0.8);
  backdrop-filter: blur(12px);
  padding: 48px;
  border-radius: 30px;
}

.directions-form-errors:empty {
  display: none;
}

.directions-form-success {
  display: none;
  position: absolute;
  inset: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(158, 156, 156, 0.8);
  backdrop-filter: blur(12px);
  padding: 48px;
  border-radius: 30px;
}

.directions-form-success__title {
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}

.directions-form-success__desc {
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 48px;
}

.directions-form-success__close {
  padding: 0 32px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 24px;
  font-size: 18px;
  color: #000;
  line-height: 1;
  gap: 4px;
  text-decoration: none;
  border: none;
}

.directions-form-success__close:hover {
  background: #dedede;
}

.directions-item {
  position: relative;
}

.directions-item__body {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 36px;
  aspect-ratio: 560 / 520;
}

.directions-item::before {
  content: '';
  position: absolute;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.directions-item__image {
  position: absolute;
  border-radius: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.directions-item__title {
  font-size: 42px;
  color: rgb(255, 255, 255);
  line-height: 1.15;
  text-align: left;
  font-weight: 500;
  margin: 20px 28px;
}

.directions-item__more::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 116px;
  align-items: center;
}

.about__content {
  grid-column: 1 / 2;
  min-width: 0;
}

.about__title {
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0.075em;
  font-weight: 500;
  margin: 0 0 64px;
}

.about__desc {
  font-size: 24px;
}

.about__desc p {
  margin: 0;
}

.about__desc * + p {
  margin-top: 1.2em;
}

.about__more {
  margin-top: 40px;
}

.about__photo {
  grid-column: 2 / 4;
  min-width: 0;
  display: flex;
  margin: 0;
}

.about__photo img {
  border-radius: 30px;
  display: block;
  width: 100%;
  height: auto;
}

.activity {
  padding: 116px 0;
  overflow: hidden;
}

.activity-tabs {
}

.activity-tabs__nav {
  display: flex;
  gap: 144px;
  align-items: center;
  margin-bottom: 48px;
}

.activity-tabs__label::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #868686;
  position: absolute;
  left: -72px;
  top: 50%;
  transform: translateY(-50%);
}

.activity-tabs__label:first-child::before {
  display: none;
}

.activity-tabs__label {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
  position: relative;
  font-size: 52px;
  letter-spacing: 0.075em;
  line-height: 1;
  color: #868686;
}

.activity-tabs__label:hover {
  color: #000;
}

.activity-tabs__label input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.activity-tabs__label:has(input:checked) {
  color: #000;
  border-bottom-color: #000;
}

.activity-tabs__panel {
  display: none;
  animation: fadeIn 0.3s ease;
}

.activity-tabs:has(.activity-tabs__label:nth-child(1) input:checked)
  .activity-tabs__panel:nth-child(1),
.activity-tabs:has(.activity-tabs__label:nth-child(2) input:checked)
  .activity-tabs__panel:nth-child(2),
.activity-tabs:has(.activity-tabs__label:nth-child(3) input:checked)
  .activity-tabs__panel:nth-child(3),
.activity-tabs:has(.activity-tabs__label:nth-child(4) input:checked)
  .activity-tabs__panel:nth-child(4),
.activity-tabs:has(.activity-tabs__label:nth-child(5) input:checked)
  .activity-tabs__panel:nth-child(5) {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.activity-embla {
  --slide-spacing: 30px;
  position: relative;
}

.activity-embla__viewport {
  /* overflow: hidden; */
}

.activity-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.activity-embla__slide {
  flex: 0 0 calc(100% / 3);
  transform: translateZ(0);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.activity-card {
  display: grid;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}

.activity-card:hover .activity-card__body {
  background: rgba(0, 0, 0, 0.3);
}

.activity-card:hover .activity-card__content {
}

.activity-card__figure {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
  display: flex;
}

.activity-card__figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-card__body {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.activity-card__content {
  padding: 20px 40px;
  width: 100%;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom,
    transparent 0,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.activity-card__photos {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  padding: 36px 16px;
  justify-content: flex-end;
  align-items: flex-start;
}

.activity-card__maximize {
  width: 74px;
  height: 74px;
  display: grid;
}

.activity-card__maximize::before {
  content: '';
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 36px;
  transition: 0.3s ease;
  background-color: rgba(28, 28, 30, 0.6);
}

.activity-card__maximize .icon {
  color: #fff;
  font-size: 32px;
  transition: 0.3s ease;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

.activity-card__maximize:hover::before {
  transform: scale(1.05);
  background-color: rgba(28, 28, 30, 0.8);
}

.activity-card__maximize:hover .icon {
  transform: scale(1.15);
}

.activity-card__maximize::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.activity-card__maximize ~ .activity-card__maximize {
  display: none;
}

.activity-card__title {
  font-size: 28px;
  line-height: 1.2;
  display: block;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

a.activity-card__title::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.activity-card__date {
  font-size: 20px;
  line-height: 1;
  color: #fff;
  margin-top: 8px;
}

.activity-embla__controls {
  display: flex;
  margin: 48px auto 0;
  gap: 24px;
  width: min-content;
}

.activity-embla__controls:has(
  .activity-embla__control:disabled + .activity-embla__control:disabled
) {
  display: none;
}

.activity-embla__control {
  border-radius: 36px;
  background-color: rgba(28, 28, 30, 0.102);
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828283;
  font-size: 24px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.activity-embla__control:hover {
  color: #1c1c1e;
  background: #e8e8e8;
}

.contacts {
  padding-top: 64px;
  padding-bottom: 96px;
  background: #f7f7f7;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 96px;
  align-items: center;
}

.contacts__content {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  min-width: 0;
}

.contacts__title {
  font-size: 60px;
  line-height: 1;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.075em;
  margin-bottom: 48px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.contacts__row {
}

.contacts__row-title {
  font-size: 30px;
  color: #929292;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 12px;
}

.contacts__row-desc {
  font-size: 24px;
  line-height: 1.2;
}

.contacts__map {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  min-width: 0;
  display: flex;
  margin: 0;
  border-radius: 30px;
  overflow: hidden;
}
